@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  font-family: "Pacifico";
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  height: 100vh;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -120px;
  line-height: 1.2;
}
.left-slide p {
  font-size: 20px;
}
.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.action-button button {
  position: absolute;
  left: 35%;
  top: 42%;
  z-index: 100;
  cursor: pointer;
  color: #949494;
  background: #3f3f3f;
  border: none;
  font-size: 28px;
  padding: 10px;
}
.action-button button:hover {
  color: #ffffff;
}
.action-button .down-button {
  transform: translate(-100%, 100%);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.action-button .up-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 760px) {
  .left-slide h1 {
    font-size: 28px;
  }
  .left-slide p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .left-slide h1 {
    font-size: 20px;
  }
  .left-slide p {
    font-size: 10px;
  }
}
